.title1 {
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 102px;
}

.title1 > span {
  color: #f22878;
}

.description1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  color: #ffffff;
}

.imgDesignDeMarque img {
  object-fit: cover;
}

.title2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-transform: capitalize;

  color: #e8750d;
}

.description2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: justify;

  color: rgba(255, 255, 255, 0.6);
}

.title3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;

  color: #e8750d;
}

.description4,
.description5,
.description6 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: justify;
  background-color: #ffffff;
}

.description4 {
  border-radius: 90px 90px 0px 0px;
}

.description6 {
  border-radius: 0px 0px 90px 90px;
}

.subtitleDescription4 {
  font-weight: 700;
  color: #e8750d;
}

@media screen and (max-width: 575px) {
  /* .imgDesignDeMarque {
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
  } */

  .title1 {
    font-size: 35px;
    line-height: 55px;
    text-align: center;
  }

  .title2 {
    font-size: 25px;
    line-height: 35px;
  }

  .title3 {
    font-size: 35px;
    line-height: 45px;
  }

  .description2 {
    font-size: 18px;
    line-height: 35px;
  }

  .description4,
  .description5,
  .description6 {
    font-size: 16px;
    line-height: 22px;
  }

  .description4 {
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
  }

  .description6 {
    border-radius: 0px;
  }
}