.title {
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 102px;
}

.title > span {
  color: #f22878;
}

.description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  color: #ffffff;
}
